@charset "UTF-8";

html, body, div, a, p {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

body {
	background-color: #e6e6e6;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 14px;
	color: #333;
}

#header {
	background: #0e2a35;
	height: 85px;
	border-bottom: 4px solid #349cb7;
}

#headerimage {
	background: url(images/header.png) left no-repeat;
	height: 85px;
	width: 270px;
	float: left;
}

#btnsupport {
	height: 85px;
	width: 270px;
	line-height: 85px;
	text-align: right;
	float: right;
	padding-right: 33px;
}

#btnsupport a {
	color: #858d91;
	border-bottom: 2px #858d91 solid;
}

#main {
	background: url(images/content_bg.jpg)  center top no-repeat;
	height: 700px;
	min-width: 1000px;
}

a img {
	border: 0px;
	-moz-outline-width: 0;
}

#content {
	width: 900px;
	height: 520px;
	margin: 0px auto;
	padding-top: 168px;
	text-align: center;
	position: relative;
}

#iphone {
	position: absolute;
	top: 82px;
	left: 53px;
}

#arealeft, #arearight {
	height: 428px;
}

#arealeft {
	float: left;
	width: 126px;
}

#arearight {
	width: 530px;
	float: right;
}

.arrowbtn {
	height: 428px;
	width: 126px;
	float: left;
}

#logoarea {
	height: 428px;
	width: 404px;
	float: left;
}

.appbtn {
	height: 428px;
	width: 202px;
	float: left;
}
